<div class="w-section footer center">
  <div class="w-container">
    <div class="footer-text">Sense-Rover</div>
    <div class="w-row">
      <div class="w-col w-col-6">
        <h1 class="section-heading centered white">Redes sociales</h1>
        <div class="w-row">
          <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2"></div>
          <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
            <a href="#" class="w-button boton-red-social linkedin"></a>
          </div>
          <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
            <a href="#" class="w-button boton-red-social g-mas"></a>
          </div>
          <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
            <a href="#" class="w-button boton-red-social twita"></a>
          </div>
          <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
            <a href="#" class="w-button boton-red-social fasebok"></a>
          </div>
          <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2"></div>
        </div> <!-- footer: w-col w-col-6: w-row -->
      </div> <!-- footer: w-col w-col-6 -->
      <div class="w-col w-col-6">
        <img src="images/SIXlogo.png" height="128" width="128">
      </div>
    </div> <!-- footer: w-row -->
    <div class="footer-text">© 2016 Six Technologies Rights Reserved</div>
  </div> <!-- footer: w-container -->
</div> <!-- footer: w-section footer center -->