<div class="modal-wrapper">
  <div class="iniciar-sesion-wrapper"><a href="#" data-ix="cerrar-login" class="w-editable cerrar-link">x</a>
    <div data-duration-in="300" data-duration-out="100" class="w-tabs tabs-wrapper-modal">
      <div class="w-tab-menu tab-menu-modal">
        <a data-w-tab="Tab Login" class="w-tab-link w--current w-inline-block button tab">
          <div>Login</div>
        </a>
        <a data-w-tab="Tab Registro" class="w-tab-link w-inline-block button tab">
          <div>Registro</div>
        </a>
      </div>
      <div class="w-tab-content">
        <div data-w-tab="Tab Login" class="w-tab-pane w--tab-active">
          <div>
            <h3>INICIAR SESIóN</h3>
            <div class="w-form">
              <form id="inicio-session" name="inicio-session" data-name="inicio-session" action="/login" method="post">
                <div class="form-group">
                    <input id="usuario" type="text" placeholder="Usuario" name="usuario" data-name="Usuario" required="required" class="w-input text-usuario">
                </div>
                <div class="form-group">
                    <input id="contrasenya" type="password" placeholder="Contraseña" name="contrasenya" data-name="Contraseña" required="required" class="w-input pass-text">
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" data-wait="Please wait..." class="w-button login-submit" id="btn_login">
                </div>
              </form>
              <a href="#" id="forget_pass">¿Has olvidado la contraseña?</a>
              <div>
                {{#if error}}
                  <div class="alert alert-danger">{{error}}</div>
                {{/if}}
              </div>
            </div> <!-- Formulario inicio sesión -->
          </div> <!-- iniciar-sesion-wrapper -->
        </div> <!-- Tab Login -->
        <div data-w-tab="Tab Registro" class="w-tab-pane">
          <div id="registro">
            <h3>REGISTRO</h3>
            <div class="w-form">
              <form id="email-form-2-registro" name="email-form-2-registro" data-name="Email Form 2" action="/register" method="post">
                <div class="form-group">
                  <input id="usuario" type="text" placeholder="Usuario" name="usuario" data-name="Usuario" required="required" class="w-input text-usuario">
                </div>
                <div class="form-group">
                  <input id="email" type="text" placeholder="Email" name="email" data-name="Email" required="required" class="w-input text-email">
                </div>
                <div class="form-group">
                  <input id="contrasenya" type="password" placeholder="Contraseña" name="contrasenya" data-name="Contraseña" required="required" class="w-input pass-text">
                </div>
                <div class="form-group">
                  <input id="contrasenya2" type="password" placeholder="Repetir Contraseña" name="contrasenya2" data-name="Contraseña2" required="required" class="w-input pass-text">
                </div>
                <div class="w-row">
                  <div class="form-group">
                    <input type="submit" value="Registrar" data-wait="Please wait..." class="w-button login-submit" id="btn_registro">
                  </div>
                </div>
              </form>
              <div>
              </div>
            </div> <!-- Formulario registro -->
          </div> <!-- registro-wrapper -->
        </div> <!-- Tab Registro -->
      </div> <!-- w-tab-content-->
    </div>
  </div> <!-- iniciar-sesion-wrapper -->
</div> <!-- Modal Inicio sesión-->

<div class="modal-wrapper-forget-pass">
  <div class="forget_pass_wrapper"><a href="#" data-ix="cerrar-forget-pass" class="w-editable cerrar-link">x</a>
    <h3>Recupera tu cuenta</h3>
    <p> Para restablecer la contraseña, introduce la dirección de correo electrónico que utilizas para iniciar sesión. </p>
    <div class="w-form">
      <form id="forget_pass_form" name="forget_pass_form" data-name="forget_pass_form" action="/forgetPassword" method="post">
        <div class="form-group">
          <input id="email" type="text" placeholder="Email" name="email" data-name="email" required="required" class="w-input text-email">
        </div>
        <div class="w-row">
          <div class="form-group">
            <input type="submit" value="Recuperar contraseña" data-wait="Please wait..." class="w-button login-submit" id="btn_forget_pass">
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form</p>
      </div>
    </div> <!-- Formulario inicio sesión -->
  </div> <!-- iniciar-sesion-wrapper -->
</div> <!-- Modal Inicio sesión-->

