<!-- Boostrap Modal LOGIN/REGISTRO -->
<div id="ModalLoginRegistro" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="w-tabs tabs-wrapper-modal"> 
          <div class="w-tab-menu tab-menu-modal">
            <a data-w-tab="Tab Login" class="w-tab-link w--current w-inline-block button tab">
              <div><img src="/icons/login.png" height="24" width="24"></div>
            </a>
            <a data-w-tab="Tab Registro" class="w-tab-link w-inline-block button tab">
              <div><img src="/icons/registro.png" height="24" width="24"></div>
            </a>
          </div>
          <div class="w-tab-content">
            <div data-w-tab="Tab Login" class="w-tab-pane w--tab-active">
              <div class="w-row">
                <div class="w-col w-col-12">
                  <div>
                    <h3>INICIAR SESIóN</h3>
                    <div class="w-form">
                      <form id="inicio-session" name="inicio-session" data-name="inicio-session" action="/login" method="post">
                        <div class="form-group">
                            <input id="email" type="text" placeholder="Email" name="email" data-name="Email" required="required" class="w-input text-usuario">
                        </div>
                        <div class="form-group">
                            <input id="password" type="password" placeholder="Contraseña" name="password" data-name="Contraseña" required="required" class="w-input pass-text">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" data-wait="Please wait..." class="w-button login-submit" id="btn_login">
                        </div>
                      </form>
                      <a href="#" data-target="#modalPassOlvidada" data-toggle="modal" data-dismiss="modal">¿Has olvidado la contraseña?</a>
                      <hr>
                      <div>
                        <a href="/auth/google" class="btn btn-block btn-google btn-social"><i class="fa fa-google-plus"></i>Sign in with Google</a>
                      </div>
                    </div> <!-- Formulario inicio sesión -->
                  </div> <!-- iniciar-sesion-wrapper -->
                </div>
              </div> <!-- Tab Login -->
            </div>
            <div data-w-tab="Tab Registro" class="w-tab-pane">
              <div class="w-row">
                <div class="w-col w-col-12">
                  <div id="registro">
                    <h3>REGISTRO</h3>
                    <div class="w-form">
                      <form id="email-form-2-registro" name="email-form-2-registro" data-name="Email Form 2" action="/register" method="post">
                        <div class="form-group">
                          <input id="usuario" type="text" placeholder="Usuario" name="usuario" data-name="Usuario" required="required" class="w-input text-usuario">
                        </div>
                        <div class="form-group">
                          <input id="email" type="text" placeholder="Email" name="email" data-name="Email" required="required" class="w-input text-email">
                        </div>
                        <div class="form-group">
                          <input id="password" type="password" placeholder="Contraseña" name="password" data-name="Contraseña" required="required" class="w-input pass-text">
                        </div>
                        <div class="form-group">
                          <input id="password2" type="password" placeholder="Repetir Contraseña" name="password2" data-name="Contraseña2" required="required" class="w-input pass-text">
                        </div>
                        <div class="w-row">
                          <div class="form-group">
                            <input type="submit" value="Registrar" data-wait="Please wait..." class="w-button login-submit" id="btn_registro">
                          </div>
                        </div>
                      </form>
                      <hr>
                      <div>
                        <a href="/auth/google" class="btn btn-block btn-google btn-social"><i class="fa fa-google-plus"></i>Sign in with Google</a>
                      </div>
                      <div>
                      </div>
                    </div> <!-- Formulario registro -->
                  </div> <!-- registro-wrapper -->
                </div>
              </div>
            </div> <!-- Tab Registro -->
          </div> <!-- w-tab-content-->
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Boostrap Modal RECUPERAR CONTRASEÑA -->
<div id="modalPassOlvidada" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="w-row">
          <div class="w-col w-col-12">
            <div>
              <h3>Recupera tu cuenta</h3>
              <p> Para restablecer la contraseña, introduce la dirección de correo electrónico que utilizas para iniciar sesión. </p>
              <div class="w-form">
                <form id="forget_pass_form" name="inicio-session" data-name="inicio-session" action="/forgetPassword" method="post">
                  <div class="form-group">
                      <input  id="email" type="text" placeholder="Email" name="email" data-name="email" required="required" class="w-input text-usuario">
                  </div>
                  <div class="form-group">
                      <input type="submit" value="Recuperar contraseña" data-wait="Please wait..." class="w-button login-submit" id="btn_forget_pass">
                  </div>
                </form>
              </div> <!-- Formulario inicio sesión -->
            </div> <!-- iniciar-sesion-wrapper -->
          </div>
        </div> <!-- Tab Login -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- modal on succes -->
<!--<div class="modal fade" id="mforget_pass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      <div class="modal-body">
        <div class="alert alert-success">
            Mensaje de recuperacion enviado.
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- /modal on succes -->  


