<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    {{{title}}}
    <link rel="shortcut icon" type="image/x-icon" href="images/SIXlogo.png">
    <!--<link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">--> <!-- Icono Webflow Title 32x32 -->
    <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png"> <!-- Icono Webflow Title 256x256 -->    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Webflow">
    <link rel="stylesheet" type="text/css" href="css/webflow.css">
    <!--<link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/dron-terrestre.webflow.css">-->
    
    <!-- Bootstrap v3.3.6 -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="dist/css/AdminLTE.min.css">
    <!-- Validator -->
    <link href="css/bootstrapValidator.min.css" rel="stylesheet">
    
    <link href="css/style.css" rel="stylesheet">
</head>
<body class="body">

<!-- barra de navegacion -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    {{{body}}}

    <script>
        WebFont.load({
            google: {
            families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Roboto:300,regular,500"]
            }
        });
    </script>
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>    
    <script type="text/javascript" src="js/webflow.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!--<script type="text/javascript" src="js/myscriptMongo.js"></script>-->
    <!--<script type="text/javascript" src="js/migrafica2.js"></script>-->
    <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]--> 
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>