<!-- Last Published: Fri Dec 11 2015 12:48:18 GMT+0000 (UTC) -->
<html data-wf-site="5649c7988b8168f16dcf1bf1" data-wf-page="564f081f5d65087935982588">
<head>
  <title>Adminitrador</title>
</head>
<body class="body">
  <div data-collapse="all" data-animation="default" data-duration="400" data-contain="1" class="w-nav navigation-bar">
    <div class="w-container">
      <a href="/" class="w-nav-brand brand-link"><h1 class="brand-text">Dron-terrestre</h1></a>
      <nav role="navigation" class="w-nav-menu navigation-menu">
        <a href="/perfil" class="w-nav-link navigation-link">Perfil</a>
        <a href="/" class="w-nav-link navigation-link">Home</a>
        <a href="#" class="w-nav-link navigation-link">Alertas</a>
        <a href="#seleccion-dron" class="w-nav-link navigation-link">Selección de Dron</a>
        <div data-delay="0" class="w-dropdown">
          <div class="w-dropdown-toggle">
            <div class="navigation-link">Gráficas</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list">
            <a href="#tiempo-real" class="w-dropdown-link navigation-link">Tiempo real</a>
            <a href="#temperatura" class="w-dropdown-link navigation-link">Temperatura</a>
            <a href="#humedad" class="w-dropdown-link navigation-link">Humedad</a>
            <a href="#co2" class="w-dropdown-link navigation-link">CO2</a>
            <a href="#radiacion-solar" class="w-dropdown-link navigation-link">Radiación solar</a>
          </nav>
        </div> <!-- w-dropdown -->
        <div data-delay="0" class="w-dropdown">
          <div class="w-dropdown-toggle">
            <div class="navigation-link">Estado del dron</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list">
            <a href="#descripcion-dron" class="w-dropdown-link navigation-link">Descripción del dron</a>
            <a href="#posicion-actual" class="w-dropdown-link navigation-link">Posición actual</a>
            <a href="#seguimiento-ruta" class="w-dropdown-link navigation-link">Seguimiento de ruta</a>
            <a href="#configuracion" class="w-dropdown-link navigation-link">Configuración</a>
            <a href="#registro" class="w-dropdown-link navigation-link">Registro</a>
          </nav>
        </div>
        <a href="#panel-estado" class="w-nav-link navigation-link">Preguntas frecuentes</a>
        <a href="/cerrar" class="w-nav-link navigation-link">Cerrar sesión</a>
      </nav>
      <div class="w-nav-button hamburger-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div> <!-- w-container -->
  </div> <!-- w-nav navigation-bar -->
  <!--<div id="seleccion-dron" class="w-section section grafic">
    <div class="w-container">
      <div class="white-box formulario">
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form">
            <label for="name">Selección de dron</label>
            <select id="field" name="field" class="w-select">
              <option value="">Selecciona un dron...</option>
              <option value="modelo 200c">modelo 200c</option>
              <option value="modelo 300v">modelo 300v</option>
              <option value="modelo 400">modelo 400</option>
            </select>
          </form>
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
          </div>
        </div>
      </div>
    </div> 
  </div>--> <!-- "w-section section grafic -->
  <!--<div id="alertas" class="w-section section">
    <div class="w-container">
      <h1 class="section-heading centered white">Alertas</h1>
      <h1 class="section-subheading center off-white">Temperatura</h1><img src="images/alerta3.PNG">
      <h1 class="section-subheading center off-white">Humedad</h1><img src="images/alerta2.PNG">
      <h1 class="section-subheading center off-white">co2</h1><img src="images/alerta1.PNG">
      <h1 class="section-subheading center off-white">RADIACIÓN solar</h1><img src="images/alerta1.PNG">
      <h1 class="section-subheading center off-white">Luminosidad</h1><img src="images/alerta1.PNG">
    </div>
  </div>-->
  <div id="alertas" class="w-section section grafic">
    <div class="w-container">
      <h1 class="section-heading centered white">Alertas</h1>

        <div align="right">
          <button class="btn btn-box-tool" style="font-size:25px;"><i class="glyphicon glyphicon-triangle-bottom"></i></button>
          <button class="btn btn-box-tool" style="font-size:25px;"><i class="glyphicon glyphicon-cog"></i></button>
        </div>

        <!-- Info Boxes Style 2 -->
        <div class="info-box bg-green">
          <span class="info-box-icon"><img src="icons/temp.png" height="48" width="48"></span>
          <div class="info-box-content">
            <span class="info-box-text">Temperatura</span>
            <span class="info-box-number">33º</span>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="progress-description">
              La temperatura es optima
            </span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
        <div class="info-box bg-green">
          <span class="info-box-icon"><img src="icons/humedad.png" height="48" width="48"></span>
          <div class="info-box-content">
            <span class="info-box-text">Humedad</span>
            <span class="info-box-number">92,050</span>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="progress-description">
              20% Increase in 30 Days
            </span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
        <div class="info-box bg-red">
          <span class="info-box-icon"><img src="icons/co2.png" height="48" width="48"></span>
          <div class="info-box-content">
            <span class="info-box-text">CO2</span>
            <span class="info-box-number">114,381</span>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="progress-description">
              70% Increase in 30 Days
            </span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
        <div class="info-box bg-green">
          <span class="info-box-icon"><img src="icons/radiacion.png" height="48" width="48"></span>
          <div class="info-box-content">
            <span class="info-box-text">Radiacion Solar</span>
            <span class="info-box-number">33º</span>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="progress-description">
              La temperatura es optima
            </span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
        <div class="info-box bg-green">
          <span class="info-box-icon"><img src="icons/luminosidad.png" height="48" width="48"></span>
          <div class="info-box-content">
            <span class="info-box-text">Luminosidad</span>
            <span class="info-box-number">33º</span>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="progress-description">
              La temperatura es optima
            </span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
  </div>
  
  <div id="graficas" class="w-section section grafic grafica-a">
    <div class="w-container">
      <h1 class="section-heading centered">Gráficas</h1>
      <div data-duration-in="300" data-duration-out="100" class="w-tabs tabs-wrapper">
        <div class="w-tab-menu">
          <a data-w-tab="Tab 1" class="w-tab-link w--current w-inline-block button tab">
            <div><img src="icons/realtime.png" height="24" width="24"></div>
          </a>
          <a data-w-tab="Tab 2" class="w-tab-link w-inline-block button tab">
            <div><img src="icons/temp.png" height="24" width="24"></div>
          </a>
          <a data-w-tab="Tab 3" class="w-tab-link w-inline-block button tab">
            <div><img src="icons/humedad.png" height="24" width="24"></div>
          </a>
          <a data-w-tab="Tab 4" class="w-tab-link w-inline-block button tab">
            <div><img src="icons/co2.png" height="24" width="24"></div>
          </a>
          <a data-w-tab="Tab 5" class="w-tab-link w-inline-block button tab">
            <div><img src="icons/radiacion.png" height="24" width="24"></div>
          </a>
          <a data-w-tab="Tab 6" class="w-tab-link w-inline-block button tab">
            <div><img src="icons/luminosidad.png" height="24" width="24"></div>
          </a>
        </div> <!-- w-tab-menu -->
        <div class="w-tab-content">
          <div id="tiempo-real" data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="white-box">
              <h1 class="section-subheading center">Temperatura</h1>
              <img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
            </div>
            <div class="white-box">
              <h1 class="section-subheading center">Humedad</h1>
              <img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
            </div>
            <div class="white-box">
              <h1 class="section-subheading center">co2</h1>
              <img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
            </div>
            <div class="white-box">
              <h1 class="section-subheading center">RADIACIÓN solar</h1>
              <img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
            </div>
            <div class="white-box">
              <h1 class="section-subheading center">Luminosidad</h1>
              <img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
            </div>
          </div> <!-- tiempo real: w-tab-pane w--tab-active-->
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div id="temperatura">
              <div class="white-box">
                <!--<h1 class="section-subheading center">Temperatura</h1><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">-->
                <div algin="center" id="Temperatura" style="min-width: 60%; height: 90%; margin: 0 auto"></div>
              </div>
              <div class="w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="white-box formulario">
                  <label for="Rango-de-fechas" class="hero-subheading">Rango de fechas</label>
                  <div class="w-row">
                    <div class="w-col w-col-6">
                      <input id="Rango-de-fechas" type="date" placeholder="Inicio" name="Rango-de-fechas" data-name="Rango de fechas" class="w-input">
                    </div>
                    <div class="w-col w-col-6">
                      <input id="Rango-de-fechas-2" type="date" placeholder="Final" name="Rango-de-fechas-2" data-name="Rango De Fechas 2" class="w-input">
                    </div>
                  </div>
                  <input type="submit" value="Submit" data-wait="Please wait..." class="w-button button">
                </form>
                <div class="w-form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                  <p>Oops! Something went wrong while submitting the form</p>
                </div>
              </div>
            </div> <!-- temperatura -->
          </div> <!-- temperatura: w-tab-pane -->
          <div data-w-tab="Tab 3" class="w-tab-pane">
            <div id="humedad">
              <div class="white-box">
                <!--<h1 class="section-subheading center">Humedad</h1><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">-->
                <div algin="center" id="Humedad" style="min-width: 50%; height: 100%; margin: 0 auto"></div>
              </div>
              <div class="w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="white-box formulario">
                  <label for="Rango-de-fechas" class="hero-subheading">Rango de fechas</label>
                  <div class="w-row">
                    <div class="w-col w-col-6">
                      <input id="Rango-de-fechas-9" type="date" placeholder="Inicio" name="Rango-de-fechas-9" data-name="Rango De Fechas 9" class="w-input">
                    </div>
                    <div class="w-col w-col-6">
                      <input id="Rango-de-fechas-10" type="date" placeholder="Final" name="Rango-de-fechas-10" data-name="Rango De Fechas 10" class="w-input">
                    </div>
                  </div>
                  <input type="submit" value="Submit" data-wait="Please wait..." class="w-button button">
                </form>
                <div class="w-form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                  <p>Oops! Something went wrong while submitting the form</p>
                </div>
              </div> <!-- humedad: w-form -->
            </div> <!-- humedad -->
          </div> <!-- humedad: w-tab-pane -->
          <div data-w-tab="Tab 4" class="w-tab-pane">
            <div id="co2">
              <div class="white-box">
                <!--<h1 class="section-subheading center">CO2</h1><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">-->
                <div id="CO2" style="min-width: 50%; height: 100%; margin: 0 auto"></div>
              </div>
              <div class="w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="white-box formulario">
                  <label for="Rango-de-fechas" class="hero-subheading">Rango de fechas</label>
                  <div class="w-row">
                    <div class="w-col w-col-6">
                      <input id="Rango-de-fechas-11" type="date" placeholder="Inicio" name="Rango-de-fechas-11" data-name="Rango De Fechas 11" class="w-input">
                    </div>
                    <div class="w-col w-col-6">
                      <input id="Rango-de-fechas-12" type="date" placeholder="Final" name="Rango-de-fechas-12" data-name="Rango De Fechas 12" class="w-input">
                    </div>
                  </div>
                  <input type="submit" value="Submit" data-wait="Please wait..." class="w-button button">
                </form>
                <div class="w-form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                  <p>Oops! Something went wrong while submitting the form</p>
                </div>
              </div> <!-- co2: w-form -->
            </div> <!-- co2 -->
          </div> <!-- co2: w-tab-pane -->
          <div data-w-tab="Tab 5" class="w-tab-pane">
            <div id="radiacion-solar">
              <div class="white-box">
                <!--<h1 class="section-subheading center">RADIACIÓN solar</h1><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">-->
                <div id="Radiacion" style="min-width: 50%; height: 100%; margin: 0 auto"></div>
              </div>
              <div class="w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="white-box formulario">
                  <label for="Rango-de-fechas" class="hero-subheading">Rango de fechas</label>
                  <div class="w-row">
                    <div class="w-col w-col-6">
                      <input id="Rango-de-fechas-13" type="date" placeholder="Inicio" name="Rango-de-fechas-13" data-name="Rango De Fechas 13" class="w-input">
                    </div>
                    <div class="w-col w-col-6">
                      <input id="Rango-de-fechas-14" type="date" placeholder="Final" name="Rango-de-fechas-14" data-name="Rango De Fechas 14" class="w-input">
                    </div>
                  </div>
                  <input type="submit" value="Submit" data-wait="Please wait..." class="w-button button">
                </form>
                <div class="w-form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                  <p>Oops! Something went wrong while submitting the form</p>
                </div>
              </div> <!-- radiacion-solar: w-form -->
            </div> <!-- radiacion-solar -->
          </div> <!-- radiacion-solar: w-tab-pane -->
          <div data-w-tab="Tab 6" class="w-tab-pane">
            <div id="luminosidad">
              <div class="white-box">
                <div id="Luminosidad" style="min-width: 55%; height: 100%; margin: 0 auto"></div>
              </div>
              <div class="w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="white-box formulario">
                  <label for="Rango-de-fechas" class="hero-subheading">Rango de fechas</label>
                  <div class="w-row">
                    <div class="w-col w-col-6">
                      <input id="Rango-de-fechas-13" type="date" placeholder="Inicio" name="Rango-de-fechas-13" data-name="Rango De Fechas 13" class="w-input">
                    </div>
                    <div class="w-col w-col-6">
                      <input id="Rango-de-fechas-14" type="date" placeholder="Final" name="Rango-de-fechas-14" data-name="Rango De Fechas 14" class="w-input">
                    </div>
                  </div>
                  <input type="submit" value="Submit" data-wait="Please wait..." class="w-button button">
                </form>
                <div class="w-form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                  <p>Oops! Something went wrong while submitting the form</p>
                </div>
              </div> <!-- luminosidad: w-form -->
            </div> <!--luminosidad -->
          </div> <!-- luminosidad: w-tab-pane -->
        </div> <!-- w-tab-content -->
      </div> <!-- "w-tabs tabs-wrapper -->
    </div> <!-- w-container -->
  </div> <!-- graficas: w-section section grafic grafica-a -->
  <div id="panel-estado" class="w-section section">
    <div class="centrado-a-3">
      <h1 class="section-heading centered">Panel de estado</h1>
      <div data-duration-in="300" data-duration-out="100" class="w-tabs tabs-wrapper">
        <div class="w-tab-menu">
          <a data-w-tab="Tab 1" class="w-tab-link w--current w-inline-block button tab">
            <div id="descripcion-dron"><img src="icons/info.png" height="24" width="24"></div>
          </a>
          <a data-w-tab="Tab 2" class="w-tab-link w-inline-block button tab">
            <div id="posicion-actual">Posición actual</div>
          </a>
          <a data-w-tab="Tab 3" class="w-tab-link w-inline-block button tab">
            <div id="seguimiento-ruta">Seguimiento de ruta</div>
          </a>
          <a id="configuracion" data-w-tab="Tab 5" class="w-tab-link w-inline-block button tab">
            <div>Configuración</div>
          </a>
          <a id="registro" data-w-tab="Tab 4" class="w-tab-link w-inline-block button tab">
            <div>Registro</div>
          </a>
        </div> <!-- panel estado: w-tab-menu -->
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="w-row fila-a-1">
              <div class="w-col w-col-6"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
              </div>
              <div class="w-col w-col-6">
                <p class="white-text">SUPER DRON 3000
                  <br>El dron terrestre más rápido, alcanza la velocidad de 5 km/h en 5 segundos.</p>
              </div>
            </div>
          </div> <!-- panel estado: Tab-descripciónDron: w-tab-pane -->
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div data-widget-latlng="43.318334,-1.981231" data-widget-style="roadmap" data-widget-zoom="12" class="w-widget w-widget-map"></div>
          </div> <!-- panel estado: Tab-posiciónActual: w-tab-pane -->
          <div data-w-tab="Tab 3" class="w-tab-pane">
            <div data-widget-latlng="43.308111,-1.891282" data-widget-style="roadmap" data-widget-zoom="12" class="w-widget w-widget-map"></div>
          </div> <!-- panel estado: Tab-seguimientoRuta: w-tab-pane -->
          <div data-w-tab="Tab 5" class="w-tab-pane">
            <div class="centrado-a-2">
              <div class="w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
                  <label for="name" class="white-text">Nombre del dron</label>
                  <input id="name" type="text" placeholder="nombre actual" name="name" data-name="Name" class="w-input">
                  <input type="submit" value="Submit" data-wait="Please wait..." class="w-button">
                </form>
                <div class="w-form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                  <p>Oops! Something went wrong while submitting the form</p>
                </div>
              </div> <!-- panel estado: Tab-configuración: "w-form -->
            </div> <!-- panel estado: Tab-configuración: centrado-a-2 -->
          </div> <!-- panel estado: Tab-configuración: w-tab-pane -->
          <div data-w-tab="Tab 4" class="w-tab-pane">
            <div class="bordecito">
              <p class="white-text">14:50 se encendió el dron
                <br>14:52 el dron mando una muestra
                <br>14:54 el dron mando una muestra
                <br>14:56 se apagó el dron</p>
                <a href="#" class="hollow-button">HACER COMPROBACIÓN</a>
                <a href="#" class="hollow-button">exportar registro</a>
            </div> <!-- panel estado: Tab-registro: bordecito -->
          </div> <!-- panel estado: Tab-registro: w-tab-pane -->
        </div> <!-- panel-estado: w-tab-content -->
      </div> <!-- panel-estado: w-tabs tabs-wrapper -->
    </div> <!-- panel-estado: centrado-a-3 -->
  </div> <!-- panel-estado: w-section section -->
  <div class="w-section section grafic">
    <div class="w-container">
      <h1 class="section-heading centered">Preguntas frecuentes</h1>
      <p>Si tienes algún problema no dudes en visitar la sección de preguntas frecuentes.</p>
      <a href="/faq" class="w-button button">Soluciones</a>
    </div>
  </div> <!-- preguntas frecuentes: w-section section grafic -->
  <div class="w-section footer center">
    <div class="w-container">
      <div class="footer-text">Proyecto Dron</div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <h1 class="section-heading centered white">Redes sociales</h1>
          <div class="w-row">
            <div class="w-col w-col-3">
              <a href="#" class="w-button boton-red-social g-mas"></a>
            </div>
            <div class="w-col w-col-3">
              <a href="#" class="w-button boton-red-social fasebok"></a>
            </div>
            <div class="w-col w-col-3">
              <a href="#" class="w-button boton-red-social linkedin"></a>
            </div>
            <div class="w-col w-col-3">
              <a href="#" class="w-button boton-red-social twita"></a>
            </div>
          </div> <!-- footer: w-col w-col-6: w-row -->
        </div> <!-- footer: w-col w-col-6 -->
        <div class="w-col w-col-6"></div>
      </div> <!-- footer: w-row -->
    </div> <!-- footer: w-container -->
  </div> <!-- footer: w-section footer center -->
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/myscriptMongo.js"></script>
  <script type="text/javascript" src="js/migrafica2.js"></script>
  
</body>
</html>