<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Dec 11 2015 12:48:18 GMT+0000 (UTC) -->
<html data-wf-site="5649c7988b8168f16dcf1bf1" data-wf-page="564c34ce2ff073d41da71d4b">
<head>
  <meta charset="utf-8">
  <title>Principal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/dron-terrestre.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Roboto:300,regular,500"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  
  <!--<link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">-->
  <link rel="shortcut icon" type="image/x-icon" href="images/SIXlogo.png">
  <!--<link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">-->
  <!---->
</head>
<body class="body">
  <div class="modal-wrapper">
    <div class="iniciar-sesion-wrapper"><a href="#" data-ix="cerrar-login" class="w-editable cerrar-link">x</a>
      <div data-duration-in="300" data-duration-out="100" class="w-tabs tabs-wrapper-modal">
        <div class="w-tab-menu tab-menu-modal">
          <a data-w-tab="Tab Login" class="w-tab-link w--current w-inline-block button tab">
            <div>Login</div>
          </a>
          <a data-w-tab="Tab Registro" class="w-tab-link w-inline-block button tab">
            <div>Registro</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab Login" class="w-tab-pane w--tab-active">
            <div>
              <h3>INICIAR SESIóN</h3>
              <div class="w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" action="/login" method="post">
                  <input id="usuario" type="text" placeholder="Usuario" name="usuario" data-name="Usuario" required="required" class="w-input text-usuario">
                  <input id="contrasenya" type="password" placeholder="Contraseña" name="contrasenya" data-name="Contraseña" required="required" class="w-input pass-text">
                  <div class="w-row">
                    <input type="submit" value="Login" data-wait="Please wait..." class="w-button login-submit" id="boton2">
                  </div>
                </form>
                <div class="w-form-done">
                  <p>Logueado con éxito</p>
                </div>
                <div class="w-form-fail">
                  <p>El nombre de usuario o la contraseña no son correctos</p>
                </div>
              </div> <!-- Formulario inicio sesión -->
            </div> <!-- iniciar-sesion-wrapper -->
          </div> <!-- Tab Login -->
          <div data-w-tab="Tab Registro" class="w-tab-pane">
            <div>
              <h3>REGISTRO</h3>
              <div class="w-form">
                <form id="email-form-2-registro" name="email-form-2-registro" data-name="Email Form 2" action="/register" method="post">
                  <input id="usuario" type="text" placeholder="Usuario" name="usuario" data-name="Usuario" required="required" class="w-input text-usuario">
                  <input id="email" type="text" placeholder="Email" name="email" data-name="Email" required="required" class="w-input text-email">
                  <input id="contrasenya" type="password" placeholder="Contraseña" name="contrasenya" data-name="Contraseña" required="required" class="w-input pass-text">
                  <input id="contrasenya2" type="password" placeholder="Repetir Contraseña" name="contrasenya2" data-name="Contraseña2" required="required" class="w-input pass-text">
                  <div class="w-row">
                    <input type="submit" value="Registrar" data-wait="Please wait..." class="w-button login-submit" id="boton3">
                  </div>
                </form>
                <div class="w-form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                  <p>Oops! Something went wrong while submitting the form</p>
                </div>
              </div> <!-- Formulario registro -->
            </div> <!-- registro-wrapper -->
          </div> <!-- Tab Registro -->
        </div> <!-- w-tab-content-->
      </div>
    </div> <!-- iniciar-sesion-wrapper -->
  </div> <!-- Modal Inicio sesión-->

  <div data-collapse="all" data-animation="default" data-duration="400" data-contain="1" class="w-nav navigation-bar">
    <div class="w-container">
      <a href="/" class="w-nav-brand brand-link"><h1 class="brand-text">Sense-Rover</h1></a>
      <nav role="navigation" class="w-nav-menu navigation-menu">
        <a href="#slider" class="w-nav-link navigation-link">Home</a>
        <a href="#articulos" class="w-nav-link navigation-link">Artículos</a>
        <a href="#graficas" class="w-nav-link navigation-link">Gráficas</a>
        <a href="#servicios" class="w-nav-link navigation-link">Servicios</a>
        <a href="#about" class="w-nav-link navigation-link">About</a>
        <a href="#donde-estamos" class="w-nav-link navigation-link">Dónde estamos</a>
        <a href="#contacto" class="w-nav-link navigation-link">Contacto</a>
        <a href="/administracion" class="w-nav-link navigation-link">Zona Administrativa</a>
        <a data-ix="login" class="w-nav-link navigation-link login2">Inicio de Sesión / Registro</a>
      </nav>
      <div class="w-nav-button hamburger-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div> <!-- Navbar container -->
  </div> <!-- Navbar -->
  <div id="slider" class="w-section section-slider">
    <div data-animation="slide" data-duration="500" data-infinite="1" data-delay="6000" data-autoplay="1" class="w-slider slider">
      <div class="w-slider-mask">
        <div class="w-slide slide2">
          <div class="div-fondo">
            <h1 data-ix="fade-in-bottom-page-loads" class="hero-heading posicion">Proyecto Sense-Rover</h1>
            <div data-ix="fade-in-bottom-page-loads" class="hero-subheading">Drones para su invernadero</div><a href="#articulos" class="button poscion">Más información</a>
          </div>
        </div> <!-- Slider: w-slider-mask: w-slide slide2(Primer slider) -->
        <div class="w-slide slide3">
          <div class="div-fondo">
            <h1 data-ix="fade-in-bottom-page-loads" class="hero-heading posicion">Sense-Rover</h1>
            <div data-ix="fade-in-bottom-page-loads" class="hero-subheading">SUPER DRON 3000</div><a href="/tienda" class="button poscion">Cómprame</a>
          </div>
        </div> <!-- Slider: w-slider-mask: w-slide slide2(Segundo slider) -->
        <div class="w-slide slide1">
          <div class="div-fondo">
            <h1 data-ix="fade-in-bottom-page-loads" class="hero-heading posicion">¿quiere saber mÁs?</h1>
            <div data-ix="fade-in-bottom-page-loads" class="hero-subheading">Para contacatar use el formulario de contacto</div><a href="#contacto" class="button poscion">Contáctenos</a>
          </div>
        </div> <!-- Slider: w-slider-mask: w-slide slide2(Tercer slider) -->
      </div> <!-- Slider: w-slider-mask -->
      <div class="w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round"></div>
    </div> <!-- Slider: w-slider slider -->
  </div> <!-- Slider -->
  <div id="articulos" class="w-section section">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered">Artículos</h2>
        <div class="section-subheading center off-white">artículos destacados</div>
      </div>
      <div class="w-row row1">
        <div class="w-col w-col-9">
          <h1 class="text-dron">Parrot AR. Drone 2.0 (GPS Edition)</h1>
          <p class="text-dron2">Parrot AR Drone es uno de los mejores drones para fotografía y entretenimiento que existen actualmente, con una relación calidad precio sensacional.
            <br>
            <br>Se pilota de manera sencilla através de un smartphone o tablet simplemente descargándote una aplicación. La última versión incorpora un GPS con el que poder geolocalizar el dispositivo, grabar vídeos y posteriormente ver los vuelos en 3D. Mientras vuelas el vídeo HD se graba y se envía a tu dispositivo directamente.
            <br>
            <br>Dispone de una batería de Litio de 1000 ó 1500 mAh que da una autonomía de vuelo de unos 12 minutos aproximadamente.
            <br>
            <br>Incorpora un sensor de presión para mejorar la estabilidad a diferentes altitudes.
            <br>
            <br>Modo&nbsp;Return Home: te hará mucho más sencillo el traer de vuelta el dron al punto de partida. Solo tienes que pulsar un botón&nbsp; y se dirigirá de manera automática hasta el punto de partida.</p>
        </div>
        <div class="w-col w-col-3">
          <img width="193" src="images/Parrot-AR.-Drone-2.0.jpg" class="imagen-dron derecha">
          <a href="#" class="w-button button compra">comprar</a>
        </div>
      </div> <!-- Primer "container" -->
      <div class="w-row row1">
        <div class="w-col w-col-3"><img src="images/Drone-Phantom-2.jpg" class="imagen-dron izquierda">
          <a href="#" class="w-button button compra">comprar</a>
        </div>
        <div class="w-col w-col-9">
          <h1 class="text-dron">DJI PHANTOM&nbsp; 2</h1>
          <p class="text-dron2">El&nbsp;Phantom 2&nbsp;es quizás el cuadricóptero para fotografía con más seguidores. Existen 3 modelos: el Phantom 2, Phantom 2 Vision&nbsp; y Phantom 2 Vision&nbsp; +. La versión 2 lleva un acople para poner tu&nbsp;cámara de grabación tipo&nbsp;Gopro, el&nbsp;&nbsp;2 Vision&nbsp;dispone de su propia cámara integrada y el&nbsp;2 vision +&nbsp;(la más sofisticada) se vende con una cámara equipada con un sofisticado estabilizador de imagen (gimbal ó cardán).
            <br>
            <br>Cualquiera de las versiones dispone de una&nbsp;autonomía de vuelo de hasta 25 minutos&nbsp; gracias a su batería de litio de 5200 mAh.
            <br>
            <br>Incorpora un GPS integrado que nos ofrecerá la posición y altitud en cada momento. Dispone de un sistema de aterrizaje automático en caso de quedarse sin batería, evitando golpes indeseados.
            <br>
            <br>Dipone al igual que el modelo de Parrot, un botón de&nbsp;Auto-Return-To-Home&nbsp;para volver al punto de partida y aterrizar automáticamente.</p>
        </div>
      </div> <!-- Segundo "container" -->
      <div class="w-row row1">
        <div class="w-col w-col-9">
          <h1 class="text-dron">DRON CASERO</h1>
          <p class="text-dron2">La especialidad de la casa.</p>
        </div>
        <div class="w-col w-col-3">
          <img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" class="imagen-dron derecha">
          <a href="/tienda" class="w-button button compra">comprar</a>
        </div>
      </div> <!-- Tercer "container" -->
    </div> <!-- Artículos: container -->
  </div> <!-- Artículos -->
  <div id="graficas" class="w-section section grafic">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered">what we do</h2>
        <div class="section-subheading center">DEMOSTRACIÓN de los resultados</div>
      </div>
      <div class="w-row row1 grafica">
        <div class="w-col w-col-9">
          <h3 class="text-dron">Alertas</h3>
          <p class="text-dron2">La aplicación web comprueba que los parámetros recogidos por los sensores están dentro de los valores óptimos y avisa al usuario si se sale del rango previamente establecido.</p>
        </div>
        <div class="w-col w-col-3 col1"><img width="190" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" class="imagen-grafica">
        </div>
      </div> <!-- Primer "container" -->
      <div class="w-row row1 grafica">
        <div class="w-col w-col-3"><img width="190" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" class="imagen-grafica">
        </div>
        <div class="w-col w-col-9">
          <h3 class="text-dron">Gráficas</h3>
          <p class="text-dron2">Los datos se muestra en gráficas fáciles de comprender.</p>
        </div>
      </div> <!-- Segundo "container" -->
      <div class="w-row row1 grafica">
        <div class="w-col w-col-9">
          <h3 class="text-dron">ubicaciÓn</h3>
          <p class="text-dron2">La aplicación permite saber en todo momento dónde se ubica el dron y que es lo que esta haciendo.</p>
        </div>
        <div class="w-col w-col-3"><img width="190" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" class="imagen-grafica">
        </div>
      </div> <!-- Tercer "container" -->
    </div> <!-- What we do: container -->
  </div> <!-- What we do -->
  <div id="servicios" class="w-section section accent">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered white">services</h2>
        <div class="section-subheading center off-white">servicios post-venta</div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="white-box transparent"><img src="images/city-scape.jpg" class="fullwidth-image">
            <h3 class="white-text">Instalación</h3>
            <p class="white-text">Nuestros electrónicos se desplazan para realizar la instalación.</p>
          </div>
        </div> <!-- Instalación -->
        <div class="w-col w-col-6">
          <div class="white-box transparent"><img src="images/photo-1416400639808-f41f0c149b09.jpg" class="fullwidth-image">
            <h3 class="white-text">soporte tecnico</h3>
            <p class="white-text">En caso de avería tenemos un servicio de atención al cliente 24h.
              <br>En el numero 555-555-555</p>
          </div>
        </div> <!-- Soporte Técnico -->
      </div> <!-- Servicios: w-row -->
    </div> <!-- Servicios: container -->
  </div> <!-- Servicios -->
  <div class="w-section section-slider">
    <div data-animation="slide" data-duration="500" data-infinite="1" data-delay="4000" data-autoplay="1" class="w-slider slider">
      <div class="w-slider-mask">
        <div class="w-slide slider-about1">
          <div id="about" class="div-fondo-about"><img src="images/ubuntucat.jpg" class="imagen-about">
            <h2 class="heading-about2">Sergio Varela Galán</h2>
            <h3>Chef</h3>
            <p class="texto-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <blockquote class="quote-about">Block Quote</blockquote>
          </div>
        </div> <!-- About us: Primer slider -->
        <div class="w-slide slider-about1">
          <div class="div-fondo-about"><img src="images/ubuntucat.jpg" class="imagen-about">
            <h2 class="heading-about2">Iosu Recalde Manterola</h2>
            <h3>Conductor de autobus</h3>
            <p class="texto-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <blockquote class="quote-about">Block Quote</blockquote>
          </div>
        </div> <!-- About us: Segundo slider -->
        <div class="w-slide slider-about1">
          <div class="div-fondo-about"><img width="173" height="173" src="images/ubuntucat.jpg" class="imagen-about">
            <h2 class="heading-about2">Gorka Pérez García</h2>
            <h3>GUÍA turístico</h3>
            <p class="texto-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillure eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in&nbsp;</p>
            <blockquote class="quote-about">Block Quote</blockquote>
          </div>
        </div> <!-- About us: Tercer slider -->
        <div class="w-slide slider-about1">
          <div class="div-fondo-about"><img width="173" height="173" src="images/ubuntucat.jpg" class="imagen-about">
            <h2 class="heading-about2">Rubén Álvarez</h2>
            <h3>GUÍA turistico</h3>
            <p class="texto-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fu</p>
            <blockquote class="quote-about">Block Quote</blockquote>
          </div>
        </div> <!-- About us: Cuarto slider -->
        <div class="w-slide slider-about1">
          <div class="div-fondo-about"><img width="173" height="173" src="images/ubuntucat.jpg" class="imagen-about">
            <h2 class="heading-about2">Irati Semperena</h2>
            <h3>GUÍA turistico</h3>
            <p class="texto-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolauiatur. Excepteur sis</p>
            <blockquote class="quote-about">Block Quote</blockquote>
          </div>
        </div> <!-- About us: Quinto slider -->
        <div class="w-slide slider-about1">
          <div class="div-fondo-about"><img width="173" height="173" src="images/ubuntucat.jpg" class="imagen-about">
            <h2 class="heading-about2">Xabier Madinazkoitia</h2>
            <h3>GUÍA turistico</h3>
            <p class="texto-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla p</p>
            <blockquote class="quote-about">Block Quote</blockquote>
          </div>
        </div> <!-- About us: Sexto slider -->
        <div class="w-slide slider-about1">
          <div class="div-fondo-about"><img width="173" height="173" src="images/ubuntucat.jpg" class="imagen-about">
            <h2 class="heading-about2">Sergio Hurtado</h2>
            <h3>GUÍA turistico</h3>
            <p class="texto-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu</p>
            <blockquote class="quote-about">Block Quote</blockquote>
          </div>
        </div> <!-- About us: Séptimo slider -->
      </div> <!-- About us: w-slider slider: w-slider-mask -->
      <div class="w-slider-arrow-left">
        <div class="w-icon-slider-left icon"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right icon"></div>
      </div>
      <div class="w-slider-nav w-slider-nav-invert w-num slide-nav-about"></div>
    </div> <!-- About us: w-slider slider -->
  </div> <!-- About us -->
  <div id="donde-estamos" class="w-section section accent">
    <div class="w-container">
      <h1 class="section-heading centered">Dónde Estamos</h1>
      <div class="w-row">
        <div class="w-col w-col-6">
          <p class="white-text direccion">Sede del departamento informático.
            <br>J.M. Barandiaran, 10-12 20013 Donostia -- San Sebastian</p>
          <div id="ubicacion" data-widget-latlng="43.327028,-1.971052" data-widget-style="satellite" data-widget-zoom="15" data-disable-scroll="1" class="w-widget w-widget-map"></div>
        </div> <!-- Dónde estamos: container: w-row: Primero(Izquierda) -->
        <div class="w-col w-col-6">
          <p class="white-text direccion">Sede del departamento electrónico.
            <br>&nbsp;Carretera San Marcos, s/n, 20100 Rentería, Guipúzcoa</p>
          <div id="ubicacion" data-widget-latlng="43.311043,-1.914149" data-widget-style="satellite" data-widget-zoom="15" data-disable-scroll="1" class="w-widget w-widget-map"></div>
        </div> <!-- Dónde estamos: container: w-row: Segundo(Derecha) -->
      </div> <!-- Dónde estamos: container: w-row -->
    </div> <!-- Dónde estamos: container -->
  </div> <!-- Dónde estamos -->
  <div id="contacto" class="w-section section grafic">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered">Contact Us Today</h2>
        <div class="section-subheading center">This is some text inside of a div block.</div>
      </div>
      <div class="w-form form-wrapper">
        <form id="formulario_contacto" name="formulario_contacto" data-name="formulario_contacto" class="form" action="/contactar" method="post">
          <div class="text_form">Nombre:</div>
          <input id="nombre_contacto" type="text" placeholder="Nombre" name="nombre_contacto" required="required" data-name="nombre contacto" class="w-input form-field">
          <div class="text_form">Asunto:</div>
          <input id="asunto_contacto" type="text" placeholder="Asunto" name="asunto_contacto" required="required" data-name="asunto contacto" class="w-input form-field">
          <div class="text_form">Email:</div>
          <input id="email_contacto" type="email" placeholder="Email" name="email_contacto" required="required" data-name="email contacto" class="w-input form-field">
          <div class="text_form">Mensaje:</div>
          <textarea id="mensaje_contacto" placeholder="Mensaje" name="mensaje_contacto" data-name="mensaje contacto" required="required" class="w-input form-field text-area"></textarea>
          <input type="submit" value="Contactar" data-wait="Please wait..." class="w-button button full-width">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div> <!-- Contacto: container: formulario -->
    </div> <!-- Contacto: container -->
  </div> <!-- Contacto -->
  <div data-collapse="none" data-animation="default" data-duration="400" data-contain="1" class="w-nav flechita_parriba">
    <div class="w-container">
      <nav role="navigation" class="w-nav-menu">
        <a href="#slider" class="w-nav-link flechita"></a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div> <!-- Flecha hacia arriba: container -->
  </div> <!-- Flecha hacia arriba -->
  <div class="w-section footer center">
    <div class="w-container">
      <div class="footer-text">Sense-Rover</div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <h1 class="section-heading centered white">Redes sociales</h1>
          <div class="w-row">
            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2"></div>
            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
              <a href="#" class="w-button boton-red-social linkedin"></a>
            </div>
            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
              <a href="#" class="w-button boton-red-social g-mas"></a>
            </div>
            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
              <a href="#" class="w-button boton-red-social twita"></a>
            </div>
            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
              <a href="#" class="w-button boton-red-social fasebok"></a>
            </div>
            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2"></div>
          </div> <!-- footer: w-col w-col-6: w-row -->
        </div> <!-- footer: w-col w-col-6 -->
        <div class="w-col w-col-6">
          <img src="images/SIXlogo.png" height="128" width="128">
        </div>
      </div> <!-- footer: w-row -->
      <div class="footer-text">© 2016 Six Technologies Rights Reserved</div>
    </div> <!-- footer: w-container -->
  </div> <!-- footer: w-section footer center -->
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>