<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Dec 11 2015 12:48:18 GMT+0000 (UTC) -->
<html data-wf-site="5649c7988b8168f16dcf1bf1" data-wf-page="564c34ce2ff073d41da71d4b">
<head>
  <meta charset="utf-8">
  <title>Perfil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/dron-terrestre.webflowTab.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Roboto:300,regular,500"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
</head>
<body class="body">

  <div data-collapse="all" data-animation="default" data-duration="400" data-contain="1" class="w-nav navigation-bar">
    <div class="w-container"><a href="index.html" class="w-nav-brand brand-link"><h1 class="brand-text">Dron-terrestre</h1></a>
      <nav role="navigation" class="w-nav-menu navigation-menu">
        <a href="#slider" class="w-nav-link navigation-link">Home</a>
        <a href="#articulos" class="w-nav-link navigation-link">Artículos</a>
        <a href="#graficas" class="w-nav-link navigation-link">Gráficas</a>
        <a href="#servicios" class="w-nav-link navigation-link">Servicios</a>
        <a href="#about" class="w-nav-link navigation-link">About</a>
        <a href="#donde-estamos" class="w-nav-link navigation-link">Dónde estamos</a>
        <a href="#contacto" class="w-nav-link navigation-link">Contacto</a>
        <a data-ix="login" class="w-nav-link navigation-link login2">Inicio de Sesión</a>
      </nav>
      <div class="w-nav-button hamburger-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div> <!-- Navbar container -->
  </div> <!-- Navbar -->
  
  <div id="perfil" class="w-section section grafic">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered">Perfil de Usuario</h2>
      </div>
      <div data-duration-in="300" data-duration-out="100" class="w-tabs tabs-wrapper">
        <div class="w-tab-menu tab-menu-perfil">
          <a data-w-tab="Datos Personales" class="w-tab-link w--current w-inline-block button tab">
            <div>Datos Personales</div>
          </a>
          <a data-w-tab="Contrasenya" class="w-tab-link w-inline-block button tab">
            <div>Cambiar contraseña</div>
          </a>
          <a data-w-tab="Imagen" class="w-tab-link w-inline-block button tab">
            <div>Cambiar imagen</div>
          </a>
        </div> <!-- seccion-perfil: w-container: w-tabs tabs-wrapper: w-tab-menu tab-menu -->
        <div class="w-tab-content">
          <div data-w-tab="Datos Personales" class="w-tab-pane w--tab-active">
            <div class="w-container">
              <div class="section-title-group-perfil">
                <h2 class="section-heading centered white">DATOS PERSONALES</h2>
              </div>
              <div class="w-form form-wrapper">
                <form id="email-form" name="email-form" data-name="Email Form" class="form">
                  <div class="w-row">
                    <div class="w-col w-col-4">
                      <div class="text_form">Nombre:</div>
                      <input id="Name-2" type="text" placeholder="Nombre" name="Name-2" required="required" data-name="Name 2" class="w-input form-field">
                    </div>
                    <div class="w-col w-col-4">
                      <div class="text_form">Apellidos:</div>
                      <input id="Name-3" type="text" placeholder="Apellidos" name="Name-3" required="required" data-name="Name 3" class="w-input form-field">
                    </div>
                    <div class="w-col w-col-4">
                      <div class="text_form">DNI:</div>
                      <input id="Name-4" type="text" placeholder="DNI" name="Name-4" required="required" data-name="Name 4" class="w-input form-field">
                    </div>
                  </div> <!-- seccion-perfil: w-container: w-form form-wrapper: w-row(1º row) -->
                  <div class="w-row">
                    <div class="w-col w-col-7">
                      <div class="text_form">Dirección:</div>
                      <input id="Email-2" type="email" placeholder="Dirección" name="Email-2" required="required" data-name="Email 2" class="w-input form-field">
                    </div>
                    <div class="w-col w-col-5">
                      <div class="text_form">Código Postal:</div>
                      <input id="Name-5" type="text" placeholder="Código Postal" name="Name-5" required="required" data-name="Name 5" class="w-input form-field">
                    </div>
                  </div> <!-- seccion-perfil: w-container: w-form form-wrapper: w-row(2º row) -->
                  <div class="w-row">
                    <div class="w-col w-col-6">
                      <div class="text_form">Email:</div>
                      <input id="Email-3" type="email" placeholder="Email" name="Email-3" required="required" data-name="Email 3" class="w-input form-field">
                    </div>
                  </div> <!-- seccion-perfil: w-container: w-form form-wrapper: w-row(3º row) -->
                  <input type="submit" value="Guardar" data-wait="Please wait..." class="w-button button full-width perfil">
                </form>
                <div class="w-form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                  <p>Oops! Something went wrong while submitting the form :(</p>
                </div>
              </div> <!-- seccion-perfil: w-container: w-form form-wrapper -->
            </div> <!-- container Datos Personales-->
          </div> <!-- seccion-perfil: w-container: w-tabs tabs-wrapper: w-tab-content: w-tab-pane: Datos Personales -->
          <div data-w-tab="Contrasenya" class="w-tab-pane">
            <div class="w-container">
              <div class="section-title-group-perfil">
                <h2 class="section-heading centered white">CAMBIAR CONTRASEÑA</h2>
              </div>
              <div class="w-form form-wrapper">
                <form id="email-form" name="email-form" data-name="Email Form" class="form">
                  <div class="w-row">
                    <div class="w-col w-col-4">
                    </div>
                    <div class="w-col w-col-4">
                      <div class="text_form">Contraseña actual:</div>
                      <input id="pass-actual" type="password" placeholder="Contraseña actual" name="pass-actual" required="required" data-name="pass-actual" class="w-input form-field">
                    </div>
                    <div class="w-col w-col-4">
                    </div>
                  </div> <!-- seccion-perfil: w-container: w-form form-wrapper: w-row(1º row) -->
                  <div class="w-row">
                    <div class="w-col w-col-4">
                    </div>
                    <div class="w-col w-col-4">
                      <div class="text_form">Nueva contraseña:</div>
                      <input id="pass-nueva" type="text" placeholder="Nueva contraseña" name="pass-nueva" required="required" data-name="pass-nueva" class="w-input form-field">
                    </div>
                  </div> <!-- seccion-perfil: w-container: w-form form-wrapper: w-row(2º row) -->
                  <div class="w-row">
                    <div class="w-col w-col-4">
                    </div>
                    <div class="w-col w-col-4">
                      <div class="text_form">Repite la nueva contraseña:</div>
                      <input id="pass-nueva-conf" type="text" placeholder="Repite la nueva contraseña" name="pass-nueva-conf" required="required" data-name="pass-nueva-conf" class="w-input form-field">
                    </div>
                  </div> <!-- seccion-perfil: w-container: w-form form-wrapper: w-row(3º row) -->
                  <input type="submit" value="Guardar" data-wait="Please wait..." class="w-button button full-width perfil">
                </form>
                <div class="w-form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                  <p>Oops! Something went wrong while submitting the form :(</p>
                </div>
              </div> <!-- seccion-perfil: w-container: w-form form-wrapper -->
            </div> <!-- container Cambiar Contraseña -->
          </div> <!-- seccion-perfil: w-container: w-tabs tabs-wrapper: w-tab-content: w-tab-pane: Cambiar Contraseña -->
          <div data-w-tab="Imagen" class="w-tab-pane">
            <div class="w-container">
              <div class="section-title-group-perfil">
                <h2 class="section-heading centered white">CAMBIAR IMAGEN</h2>
              </div>
              <div class="w-form form-wrapper">
                <form id="email-form" name="email-form" data-name="Email Form" class="form" enctype="multipart/form-data">
                  <div class="w-row">
                    <div class="w-col w-col-4">
                    </div>
                    <div class="w-col w-col-4">
                      <div class="text_form">Seleccionar imagen:</div>
                      <input id="imagen" type="file" name="fichero" data-name="imagen" class="img-perfil">
                    </div>
                    <div class="w-col w-col-4">
                    </div>
                  </div> <!-- seccion-perfil: w-container: w-form form-wrapper: w-row(1º row) -->
                  <input type="submit" value="Guardar" data-wait="Please wait..." class="w-button button full-width perfil">
                </form>
                <div class="w-form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                  <p>Oops! Something went wrong while submitting the form :(</p>
                </div>
              </div> <!-- seccion-perfil: w-container: w-form form-wrapper -->
            </div> <!-- container Cambiar Imagen -->
          </div> <!-- seccion-perfil: w-container: w-tabs tabs-wrapper: w-tab-content: w-tab-pane: Imagen -->
        </div> <!-- seccion-perfil: w-container: w-tabs tabs-wrapper: w-tab-content -->
      </div> <!-- seccion-perfil: w-container: tabs-wrapper -->
    </div> <!-- Perfil: container -->
  </div> <!-- Perfil -->

  <div class="w-section footer center">
    <div class="w-container">
      <div class="footer-text">Proyecto Dron</div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <h1 class="section-heading centered white">Redes sociales</h1>
          <div class="w-row">
            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2"></div>
            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
              <a href="#" class="w-button boton-red-social linkedin"></a>
            </div>
            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
              <a href="#" class="w-button boton-red-social g-mas"></a>
            </div>
            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
              <a href="#" class="w-button boton-red-social twita"></a>
            </div>
            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
              <a href="#" class="w-button boton-red-social fasebok"></a>
            </div>
            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2"></div>
          </div> <!-- footer: w-col w-col-6: w-row -->
        </div> <!-- footer: w-col w-col-6 -->
        <div class="w-col w-col-6"></div>
      </div> <!-- footer: w-row -->
    </div> <!-- footer: w-container -->
  </div> <!-- footer: w-section footer center -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflowTab.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>